
<!DOCTYPE html>
<html>
  <head>
    <title>Search Analytics</title>
    <%= javascript_include_tag 'application', type: 'importmap' %>
    <%= javascript_include_tag 'controllers/searchEngine', type: 'module' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <main>
    <h1>Keyword Rankings</h1>
    <div>
        <h1>Search Trends</h1>
        <ul id="search-trends"></ul>
      </div>
    <table>
      <thead>
        <tr>
          <th>Keyword</th>
          <th>Count</th>
          <th>Queries</th>
        </tr>
      </thead>
      <tbody>
        <% @ranked_keywords.each do |keyword, data| %>
          <tr>
            <td><%= keyword %></td>
            <td><%= data[:count] %></td>
            <td>
              <ul>
                <% data[:queries].each do |query| %>
                  <li><%= query %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </main>
  </body>
</html>